# macOS System Files
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes

# Swift Package Manager
.build/
Packages/
Package.pins
Package.resolved
.swiftpm/

# Xcode & Build Artifacts
build/
DerivedData/
*.xcodeproj
*.xcworkspace
!default.pbxuser
!default.mode1v3
!default.mode2v3
!default.perspectivev3
xcuserdata/

# Local Test & Scratch Data
*.swp
*~
*.log
